

.table-sortable th {
    cursor: pointer;
  }
  
  .table-sortable .th-sort-asc::after {
    content: "\25b4";
  }
  
  .table-sortable .th-sort-desc::after {
    content: "\25be";
  }
  
  .table-sortable .th-sort-asc::after,
  .table-sortable .th-sort-desc::after {
    margin-left: 5px;
  }
  
  .table-sortable .th-sort-asc,
  .table-sortable .th-sort-desc {
    background: rgba(0, 0, 0, 0.1);
  }
  

/* Main Page */

/* NOTES FOR MYSELF /
/ - Window width max 1080px
/ - if it's lower than 1080px switch to mobile view
*/
.boxes 
{
  width: auto;
  height: auto;
  border: 5px solid black;
  margin: 30px 20px auto;
  position: relative;
}

.the-left-box
  {
    background: #217f8b;
    width: 20%;
    height: auto;
    border-radius: 5px;
    color: black;
    box-shadow: 1px 1px 5px #bebebe3d;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 20px;
  }

  .the-main-box
  {
    background: #217f8b;
    width: 36%;
    height: auto;
    border-radius: 5px;
    color: black;
    box-shadow: 1px 1px 5px #bebebe3d;
    position: relative;
    margin: 0 30% 5px 30%;
    padding: 20px;
  }


  .the-right-box
  {
    background: #217f8b;
    width: 20%;
    height: 25vm;
    border-radius: 5px;
    color: black;
    box-shadow: 1px 1px 5px #bebebe3d;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 20px;
  }

.content
{
  
}





/* NEEDS TO BE FIXED */
.stickytmp 
  {
    position: -webkit-sticky; /* Safari */
    position: sticky;

  }